<!DOCTYPE html>
<html lang="it">

<head>
    <meta charset="UTF-8">
    <title>{% block titolo %}Tech Store{% endblock %}</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='css/stile.css') }}">
</head>

<body>

    <div class="container">
        <nav>
            <a href="/">🏠 Home Catalogo</a> |
            <a href="/nuovo">➕ Aggiungi Prodotto</a>
        </nav>

        <div>
            {% block contenuto %}
            {% endblock %}
        </div>

        <footer>
            <p><em>Tech Store S.r.l. — Mini App Flask Base (Settimana 8)</em></p>
        </footer>
    </div>

</body>

</html>