body {
  background-color: #f4f7f6;
  font-family: "Segoe UI", sans-serif;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin: 0;
}

.card {
  background: white;
  padding: 30px;
  border-radius: 12px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.1);
  text-align: center;
  width: 350px;
  transition: all 0.4s ease; /* Per rendere fluidi i cambi di colore */
}

h1 {
  color: #333;
}

.controlli {
  margin-top: 20px;
  text-align: left;
}

input {
  width: 100%;
  padding: 10px;
  margin: 10px 0;
  border: 1px solid #ddd;
  border-radius: 6px;
}

.pulsantiera {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

button {
  padding: 10px;
  border: none;
  border-radius: 6px;
  background-color: #007bff;
  color: white;
  cursor: pointer;
  font-weight: bold;
}

button:hover {
  background-color: #0056b3;
}

#btn-reset {
  background-color: #6c757d;
}
